<div ng-controller="LoginController as loginCtrl">
    <form class="form-horizontal" ng-submit="loginCtrl.logIn()">
        <fieldset>
            <div class="form-group">
                <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                <div class="col-lg-10">
                    <input type="email" class="form-control" id="inputEmail" placeholder="Email" ng-model="loginCtrl.user.email">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword" class="col-lg-2 control-label">Password</label>
                <div class="col-lg-10">
                    <input type="password" class="form-control" id="inputPassword" placeholder="Password" ng-model="loginCtrl.user.pass">
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button class="btn btn-material-purple">Cancel</button>
                    <button type="submit" class="btn btn-material-purple">Submit</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>